.portfolio__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.875rem;
}

.portfolio__card {
  position: relative;
  overflow: hidden;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
}

.portfolio__thumbnail {
  position: relative;
  height: 100%;
}

.portfolio__img {
  width: 100%;
  display: block;
}

.portfolio__mask {
  background-color: #6c6ce5;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  transition: 0.3s;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.portfolio__card:hover .portfolio__mask {
  opacity: 0.9;
}

.portfolio__title {
  color: #fff;
  font-size: var(--h3-font-size);
  margin-bottom: 1rem;
  text-align: center;
  opacity: 0;
  transition: 0.3s;
}

.portfolio__github-button {
  color: #fff;
  font-size: 1.5rem;
  background-color: #ffd15c;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  transition: 0.3s;
  opacity: 0;
}

.portfolio__card:hover .portfolio__title,
.portfolio__card:hover .portfolio__github-button {
  opacity: 1;
}

/* Responsive */
@media screen and (max-width: 1024px) {
  .portfolio__container {
    grid-template-columns: repeat(2, 330px);
    justify-content: center;
    row-gap: 1.875rem;
  }
}

@media screen and (max-width: 768px) {
  .portfolio__container {
    grid-template-columns: 310px;
    justify-content: center;
    row-gap: 1.875rem;
  }
}

@media screen and (max-width: 350px) {
  .portfolio__container {
    grid-template-columns: 1fr;
  }
}
